html {
background-color: #000000; /* Black */
color: #ffffff; /* White */
}
    

h1 {
    color: black;
}
h2 {
    color: #55CDFC; /* Trans Blue */
}
h3 {
    color: #ff00e0; /* Trans Pink */
}
h4 {
    color: #ffffff; /* White */
}
h5{
    color: red;
}
#Tables{
    color: white;
}
#AboutMe{
    hover: white;
}
#TransgenderJourney{
    color: #ff00e0; /* Trans Pink */
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 30px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffd800; /* Gold */
}
ul:hover {
    cursor:pointer;
    color: red;
}
a {
    color: lime;
}
li {
    float: left;
}

    li a {
        display: block;
        border-color: #ffd800; /* Yellow */
        color: #000000; /* Black */
        background-color: #ffd800; /* Gold */
        text-align: center;
        padding: 14px 16px;
        text-decoration: wavy;
    }

        li a hover {
            background-color: #000;
            color: blue;
        }


     table {
        display: block;
        border-color: #ffd800; /* Yellow */
        color: #ffffff; /* White */
        background-color: #000000; /* Black */
        text-align: center;
        text-decoration: wavy;
    }
     tr {
         color: #ffffff; /* White */
         background-color: #000000; /* Black */
     }
th, td {
    text-align: center;
}
     }
tr:hover {
    background-color: #f3f3f3; /* F3ROCITYS */
    color:blue
} 